In [29]:
import requests,json
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt



# Functions for getting SensorTower data. 
# Store_Intelligence
# Rate Limit: 6 requests per second. 
# Requests should be made to the following base URL, followed by the specific path to the API you want to use.
# Latest Updated Date: 2021.03.02
# Author: Chen

# Compact Download / Revenue Estimates ???


# Download / Revenue Estimates for applications (If run error please try https://api.sensortower-china.com:443)

# Input: 
# os: Operating System (use "ios", "android",or "unified")
# country: Checking CountryCodes_CategoryIDs to select country (use"WW" for worldwide, "US"  for United States)  
# date_granularity: use "daily", "weekly","monthly", or"quarterly",defaults to "daily"
# start_date:(yyyy-mm-dd) 
# end_date: (yyyy-mm-dd)  
# app_ids: (defaults to None) 
# publisher_ids: (defaults to None) 
# Do not give both app_ids and publisher_ids at same time. 

# Output: A dataframe which containz: 
 
# {
#   "sales_report_estimates_key": {
#     "ios": {
#       "aid": "App ID",
#       "cc": "Country Code",
#       "d": "Date",
#       "iu": "iPhone Downloads",
#       "ir": "iPhone Revenue",
#       "au": "iPad Downloads",
#       "ar": "iPad Revenue"
#     },
#     "android": {
#       "aid": "App ID",
#       "c": "Country Code",
#       "d": "Date",
#       "u": "Android Downloads",
#       "r": "Android Revenue"
#     },
#     "unified": {
#       "app_id": "App ID",
#       "country": "Country Code",
#       "date": "Date",
#       "android_units": "Android Downloads",
#       "android_revenue": "Android Revenue",
#       "ipad_units": "iPad Downloads",
#       "ipad_revenue": "iPad Revenue",
#       "iphone_units": "iPhone Downloads",
#       "iphone_revenue": "iPhone Revenue"
#     }
#   }
# }
# If used publisher_ids, all applications made by this publisher will return. 

# Example: 
# get_data_apps = requests_Download_RevenueEstimates('ios', 'US', 'daily', '2020-11-01', '2020-11-04', '1531465966')
# get_data_publishers = requests_Download_RevenueEstimates('ios', 'US', 'daily', '2020-11-01', '2020-11-04', publisher_ids = '1191495496') 

def requests_Download_RevenueEstimates(os, country, date_granularity, start_date, end_date, app_ids = None, publisher_ids = None):
    if app_ids == None and publisher_ids == None:
        return(print('Error, at least one app ID, or one publisher ID is required.'))
        
    elif publisher_ids == None:
        aux_DRE = requests.get('https://api.sensortower-china.com/v1/'
                               +os+'/sales_report_estimates?app_ids='+app_ids+
                               '&countries='+country+
                               '&date_granularity='+date_granularity+
                               '&start_date='+
                               start_date+'&end_date='+
                               end_date+'&auth_token=r7cTTJq5nBSqxMU_WmJo'
                               )
    else:
        aux_DRE = requests.get('https://api.sensortower-china.com/v1/'
                               +os+'/sales_report_estimates?publisher_ids='+publisher_ids+
                               '&countries='+country+
                               '&date_granularity='+date_granularity+
                               '&start_date='+
                               start_date+'&end_date='+
                               end_date+'&auth_token=r7cTTJq5nBSqxMU_WmJo'
                               )
    df_DRE = pd.DataFrame(aux_DRE.json())
    print(aux_DRE.status_code)
    return(df_DRE)


# Top Apps(If run error please try https://api.sensortower-china.com:443) for one day, week, month, quarter. 给出指定日期后，会寻找该日期所在的日，周，月，季度，
# Input:
# os: Operating System (use "ios", "android",or "unified")
# comparision_attribute: use "absolute", "delta", or "transformed_delta"
# time_range: use "day","week", "month", or "quarter"
# measure: use "units" or "revenue"
# device_type: use "iphone", "ipad", or "total" for `ios`, leave blank for `android`, use "total" for `unified`
# category: Checking CountryCodes_CategoryIDs to select category.(use 6014 for game applications)
# date: Date.YYYY-MM-DD format.Auto-changes to the beginning of time_range.Ex: Mondays for weeks, 1st of the month, 1st day of the quarter, 1st day of the year.
# country: Checking CountryCodes_CategoryIDs to select country (use"WW" for worldwide, "US"  for United States)
# limit: Limit how many apps per call. (Default: 25, Max: 2000)

# Output: A dataframe which contains informations of top Apps. 
# The variable custom_tags contains informations about each application. 

# Example_ios_uni: 
# https://api.sensortower-china.com/v1/ios/sales_report_estimates_comparison_attributes?comparison_attribute=absolute&time_range=week&measure=units&device_type=total&category=6014&date=2021-02-08&country=US&limit=25&auth_token=r7cTTJq5nBSqxMU_WmJo
# get_week_AppRanking1 = requests_ios_uni_TopApps_periodic('ios', 'absolute', 'week','units', 'total', '6014', '2021-02-08','US','25') # 2021-02-08---2021-02-14
# get_week_AppRanking2 = requests_ios_uni_TopApps_periodic('ios', 'absolute', 'week','units', 'total', '6014', '2021-02-07','US','25') # 2021-02-01---2021-02-7
# get_week_AppRanking3 = requests_ios_uni_TopApps_periodic('ios', 'absolute', 'week','units', 'total', '6014', '2021-02-03','US','25') # 2021-02-01---2021-02-7


# Example_Android: 
# https://api.sensortower-china.com/v1/android/sales_report_estimates_comparison_attributes?comparison_attribute=absolute&time_range=week&measure=units&category=game&date=2021-02-08&country=US&limit=25&auth_token=r7cTTJq5nBSqxMU_WmJo
# get_week_ranking4 = requests_Android_TopApps_periodic('android', 'absolute', 'week','units', 'game', '2021-02-08','US','25')

def requests_ios_uni_TopApps_periodic(os,comparision_attribute, time_range, measure, device_type, category, date, country, limit):  
    aux_TopApps = requests.get('https://api.sensortower-china.com:443/v1/'
                               +os+'/sales_report_estimates_comparison_attributes?comparison_attribute='+comparision_attribute+
                               '&time_range='+time_range+
                               '&measure='+measure+
                               '&device_type='+device_type+
                               '&category='+category+
                               '&date='+date+
                               '&country='+country+
                               '&limit='+limit+
                               '&auth_token=r7cTTJq5nBSqxMU_WmJo'
                               )
    df_TopApps = pd.DataFrame(aux_TopApps.json())
    print(aux_TopApps.status_code) # Get response messages
    return(df_TopApps)


# def requests_TopApps_customized(os,comparision_attribute, measure, device_type, category, date, end_date, country, limit):  
#     aux_TopApps = requests.get('https://api.sensortower-china.com:443/v1/'
#                                +os+'/sales_report_estimates_comparison_attributes?comparison_attribute='+comparision_attribute+
#                                '&measure='+measure+
#                                '&device_type='+device_type+
#                                '&category='+category+
#                                '&date='+date+
#                                '&end_date='+end_date+
#                                '&country='+country+
#                                '&limit='+limit+
#                                '&auth_token=r7cTTJq5nBSqxMU_WmJo'
#                                )
#     df_TopApps = pd.DataFrame(aux_TopApps.json())
#     print(aux_TopApps.status_code) # Get response messages
#     return(df_TopApps)    


def requests_Android_TopApps_periodic(os,comparision_attribute, time_range, measure, category, date, country, limit):  
    aux_TopApps = requests.get('https://api.sensortower-china.com/v1/'
                               +os+'/sales_report_estimates_comparison_attributes?comparison_attribute='+comparision_attribute+
                               '&time_range='+time_range+
                               '&measure='+measure+
                               '&category='+category+
                               '&date='+date+
                               '&country='+country+
                               '&limit='+limit+
                               '&auth_token=r7cTTJq5nBSqxMU_WmJo'
                               )
    df_TopApps = pd.DataFrame(aux_TopApps.json())
    print(aux_TopApps.status_code) # Get response messages
    return(df_TopApps)


# Top Publishers(If run error please try https://api.sensortower-china.com:443) for one day, week, month, quarter. 给出指定日期后，会寻找该日期所在的日，周，月，季度，
# Input:
# os: Operating System (use "ios", "android",or "unified")
# comparision_attribute: use "absolute", "delta", or "transformed_delta"
# time_range: use "day","week", "month", or "quarter"
# measure: use "units" or "revenue"
# device_type: use "iphone", "ipad", or "total" for `ios`, leave blank for `android` and `unified`
# category: Checking CountryCodes_CategoryIDs to select category.(use 6014 for game applications)
# date: Date.YYYY-MM-DD format.Auto-changes to the beginning of time_range.Ex: Mondays for weeks, 1st of the month, 1st day of the quarter, 1st day of the year.
# country: Checking CountryCodes_CategoryIDs to select country (use"WW" for worldwide, "US"  for United States)
# limit: Limit how many apps per call. (Default: 25, Max: 2000)

# Output: A dataframe which contains informations of top Publishers. 
# The variable apps contains all informations of applications made by each publisher. 

# Example_ios: 
# https://api.sensortower-china.com/v1/ios/top_and_trending/publishers?comparison_attribute=absolute&time_range=week&measure=units&device_type=total&category=6014&date=2021-02-08&country=US&limit=25&auth_token=r7cTTJq5nBSqxMU_WmJo
# get_week_PubRanking1_ios = requests_ios_TopPublishers_periodic('ios', 'absolute', 'week','units', 'total', '6014', '2021-02-08','US','25')

# Example_Android_uni: 
# https://api.sensortower-china.com/v1/android/top_and_trending/publishers?comparison_attribute=absolute&time_range=week&measure=units&category=6014&date=2021-02-08&country=US&limit=25&auth_token=r7cTTJq5nBSqxMU_WmJo
# get_week_PubRanking1_android = requests_Android_uni_TopPublishers_periodic('android', 'absolute', 'week','units', 'game', '2021-02-08','US','25')

def requests_ios_TopPublishers_periodic(os,comparision_attribute, time_range, measure, device_type, category, date, country, limit):  
    aux_TopPublishers = requests.get('https://api.sensortower-china.com/v1/'
                               +os+'/top_and_trending/publishers?comparison_attribute='+comparision_attribute+
                               '&time_range='+time_range+
                               '&measure='+measure+
                               '&device_type='+device_type+
                               '&category='+category+
                               '&date='+date+
                               '&country='+country+
                               '&limit='+limit+
                               '&auth_token=r7cTTJq5nBSqxMU_WmJo'
                               )
    df_TopPublishers = pd.DataFrame(aux_TopPublishers.json())
    print(aux_TopPublishers.status_code) # Get response messages
    return(df_TopPublishers)


def requests_Android_uni_TopPublishers_periodic(os,comparision_attribute, time_range, measure, category, date, country, limit):  
    aux_TopPublishers = requests.get('https://api.sensortower-china.com/v1/'
                               +os+'/top_and_trending/publishers?comparison_attribute='+comparision_attribute+
                               '&time_range='+time_range+
                               '&measure='+measure+
                               '&category='+category+
                               '&date='+date+
                               '&country='+country+
                               '&limit='+limit+
                               '&auth_token=r7cTTJq5nBSqxMU_WmJo'
                               )
    df_TopPublishers = pd.DataFrame(aux_TopPublishers.json())
    print(aux_TopPublishers.status_code) # Get response messages
    return(df_TopPublishers)



# Store Summary: Information for all ios or android.
# Input:
# Output: 


def requests_Store_Summary(os, category, country, granularity, start_date, end_date):  
    aux_SS = requests.get('https://api.sensortower-china.com/v1/'
                               +os+'/store_summary?categories='+category+
                               '&countries='+country+
                               '&date_granularity='+granularity+
                               '&start_date='+start_date+
                               '&end_date='+end_date+
                               '&auth_token=r7cTTJq5nBSqxMU_WmJo'
                               )
    df_SS = pd.DataFrame(aux_SS.json())
    print(aux_SS.status_code) # Get response messages
    return(df_SS)

# Game Breakdown: Information for all ios or android.(games specific)
# Input:
# Output: 

def requests_Games_Breakdown(os, category, country, granularity, start_date, end_date):  
    aux_GB = requests.get('https://api.sensortower-china.com/v1/'
                               +os+'/games_breakdown?categories='+category+
                               '&countries='+country+
                               '&date_granularity='+granularity+
                               '&start_date='+start_date+
                               '&end_date='+end_date+
                               '&auth_token=r7cTTJq5nBSqxMU_WmJo'
                               )
    df_GB = pd.DataFrame(aux_GB.json())
    print(aux_GB.status_code) # Get response messages
    return(df_GB)

# Reviews 
# Input: 
# os: ios or android
# app_id
# start_date
# end_date
# country: US or leave blank

# Output: 
# average: Rating
# total: Total number of person who rates.

# Example: 
# https://api.sensortower-china.com/v1/ios/review/get_ratings?app_id=284882215&start_date=2021-02-08&end_date=2021-02-14&country=US&auth_token=r7cTTJq5nBSqxMU_WmJo
# test_rating1 = requests_Rating('ios', '1540979366', '2020-01-01', '2021-03-16')
# test_rating2 = requests_Rating('android', 'com.sushirolls.app', '2020-01-01', '2021-03-16')

def requests_ios_Rating(os, app_id, start_date, end_date): 
        aux_rating = requests.get('https://api.sensortower-china.com/v1/'
                                   +os+'/review/get_ratings?app_id='+app_id+
                                   '&start_date='+start_date+
                                   '&end_date='+end_date+
                                   '&country=US&auth_token=r7cTTJq5nBSqxMU_WmJo'
                                   )
        df_rating = pd.DataFrame(aux_rating.json())
        print(aux_rating.status_code) # Get response messages
        return(df_rating)
        
def requests_android_Rating(os, app_id, start_date, end_date): 
            aux_rating = requests.get('https://api.sensortower-china.com/v1/'
                                       +os+'/review/get_ratings?app_id='+app_id+
                                       '&start_date='+start_date+
                                       '&end_date='+end_date+
                                       '&auth_token=r7cTTJq5nBSqxMU_WmJo'
                                       )
            df_rating = pd.DataFrame(aux_rating.json())
            print(aux_rating.status_code) # Get response messages
            return(df_rating)        
        
def requests_Rating(os):
    if os == 'ios':
        def aux_func(app_id, start_date, end_date):
            return requests_ios_Rating(os, app_id, start_date, end_date)
      
    else:
        def aux_func(app_id, start_date, end_date): 
            return requests_android_Rating(os, app_id, start_date, end_date)
        
    return aux_func

In [30]:
test_rating1 = requests_Rating('ios')('1540979366', '2020-01-01', '2021-03-16')
test_rating1

200

,app_id,average,breakdown,country,current_version_breakdown,date,total
0,1540979366,4.430,"[7508, 2974, 5272, 8621, 77511]",US,"[7508, 2974, 5272, 8621, 77511]",2021-03-15T00:00:00Z,101886
1,1540979366,4.430,"[7498, 2973, 5263, 8612, 77449]",US,"[7498, 2973, 5263, 8612, 77449]",2021-03-14T00:00:00Z,101795
2,1540979366,4.429,"[7467, 2958, 5240, 8559, 76962]",US,"[7467, 2958, 5240, 8559, 76962]",2021-03-13T00:00:00Z,101186
3,1540979366,4.428,"[7446, 2951, 5214, 8524, 76624]",US,"[7446, 2951, 5214, 8524, 76624]",2021-03-12T00:00:00Z,100759
4,1540979366,4.429,"[7428, 2942, 5191, 8500, 76458]",US,"[7428, 2942, 5191, 8500, 76458]",2021-03-11T00:00:00Z,100519
5,1540979366,4.429,"[7395, 2936, 5173, 8462, 76134]",US,"[7395, 2936, 5173, 8462, 76134]",2021-03-09T00:00:00Z,100100
6,1540979366,4.428,"[7316, 2902, 5112, 8355, 75173]",US,"[7316, 2902, 5112, 8355, 75173]",2021-03-08T00:00:00Z,98858
7,1540979366,4.428,"[7275, 2882, 5078, 8308, 74707]",US,"[7275, 2882, 5078, 8308, 74707]",2021-03-06T00:00:00Z,98250
8,1540979366,4.427,"[7236, 2859, 5048, 8240, 74153]",US,"[7236, 2859, 5048, 8240, 74153]",2021-03-05T00:00:00Z,97536
9,1540979366,4.428,"[7189, 2839, 5023, 8211, 73824]",US,"[7189, 2839, 5023, 8211, 73824]",2021-03-03T00:00:00Z,97086
10,1540979366,4.428,"[7154, 2818, 4999, 8171, 73461]",US,"[7154, 2818, 4999, 8171, 73461]",2021-03-02T00:00:00Z,96603
11,1540979366,4.428,"[7102, 2797, 4957, 8110, 72797]",US,"[7102, 2797, 4957, 8110, 72797]",2021-03-01T00:00:00Z,95763
12,1540979366,4.427,"[7078, 2786, 4931, 8078, 72445]",US,"[7078, 2786, 4931, 8078, 72445]",2021-02-28T00:00:00Z,95318
13,1540979366,4.427,"[7061, 2781, 4920, 8064, 72279]",US,"[7061, 2781, 4920, 8064, 72279]",2021-02-27T00:00:00Z,95105
14,1540979366,4.427,"[7039, 2768, 4906, 8043, 72112]",US,"[7039, 2768, 4906, 8043, 72112]",2021-02-26T00:00:00Z,94868
15,1540979366,4.428,"[7018, 2757, 4882, 8021, 71895]",US,"[7018, 2757, 4882, 8021, 71895]",2021-02-24T00:00:00Z,94573
16,1540979366,4.428,"[7004, 2749, 4871, 8007, 71811]",US,"[7004, 2749, 4871, 8007, 71811]",2021-02-23T00:00:00Z,94442
17,1540979366,4.426,"[6964, 2726, 4813, 7922, 70996]",US,"[6964, 2726, 4813, 7922, 70996]",2021-02-22T00:00:00Z,93421
18,1540979366,4.426,"[6912, 2704, 4768, 7851, 70325]",US,"[6912, 2704, 4768, 7851, 70325]",2021-02-21T00:00:00Z,92560
19,1540979366,4.425,"[6881, 2692, 4753, 7799, 69911]",US,"[6881, 2692, 4753, 7799, 69911]",2021-02-20T00:00:00Z,92036
20,1540979366,4.426,"[6913, 2714, 4795, 7817, 70510]",US,"[6913, 2714, 4795, 7817, 70510]",2021-02-18T00:00:00Z,92749
21,1540979366,4.427,"[6878, 2698, 4775, 7782, 70176]",US,"[6878, 2698, 4775, 7782, 70176]",2021-02-17T00:00:00Z,92309
22,1540979366,4.426,"[6829, 2682, 4726, 7702, 69532]",US,"[6829, 2682, 4726, 7702, 69532]",2021-02-16T00:00:00Z,91471
23,1540979366,4.428,"[6819, 2685, 4706, 7676, 69725]",US,"[6819, 2685, 4706, 7676, 69725]",2021-02-14T00:00:00Z,91611
24,1540979366,4.430,"[6845, 2697, 4721, 7693, 70288]",US,"[6845, 2697, 4721, 7693, 70288]",2021-02-13T00:00:00Z,92244
25,1540979366,4.431,"[6869, 2710, 4751, 7701, 70796]",US,"[6869, 2710, 4751, 7701, 70796]",2021-02-11T00:00:00Z,92827
26,1540979366,4.431,"[6817, 2690, 4704, 7629, 70220]",US,"[6817, 2690, 4704, 7629, 70220]",2021-02-09T00:00:00Z,92060
27,1540979366,4.431,"[6771, 2672, 4681, 7583, 69823]",US,"[6771, 2672, 4681, 7583, 69823]",2021-02-08T00:00:00Z,91530
28,1540979366,4.431,"[6701, 2634, 4637, 7497, 69073]",US,"[6701, 2634, 4637, 7497, 69073]",2021-02-07T00:00:00Z,90542
29,1540979366,4.431,"[6686, 2623, 4622, 7476, 68888]",US,"[6686, 2623, 4622, 7476, 68888]",2021-02-06T00:00:00Z,90295
...,...,...,...,...,...,...,...
56,1540979366,4.434,"[2402, 868, 1574, 2405, 24152]",US,"[2402, 868, 1574, 2405, 24152]",2020-12-31T00:00:00Z,31401
57,1540979366,4.439,"[1980, 713, 1301, 1989, 20135]",US,"[1980, 713, 1301, 1989, 20135]",2020-12-29T00:00:00Z,26118
58,1540979366,4.434,"[1534, 546, 975, 1451, 15228]",US,"[1534, 546, 975, 1451, 15228]",2020-12-28T00:00:00Z,19734
59,1540979366,4.418,"[1233, 413, 773, 1116, 11646]",US,"[1233, 413, 773, 1116, 11646]",2020-12-27T00:00:00Z,15181
60,1540979366,4.399,"[877, 282, 526, 751, 7817]",US,"[953, 308, 564, 821, 8554]",2020-12-26T00:00:00Z,10253
61,1540979366,4.398,"[767, 232, 439, 620, 6683]",US,"[767, 232, 439, 620, 6683]",2020-12-25T00:00:00Z,8741
62,1540979366,4.394,"[535, 168, 319, 424, 4671]",US,"[535, 168, 319, 424, 4671]",2020-12-23T00:00:00Z,6117
63,1540979366,4.407,"[376, 115, 218, 295, 3347]",US,"[376, 115, 218, 295, 3347]",2020-12-22T00:00:00Z,4351
64,1540979366,4.405,"[273, 95, 159, 239, 2485]",US,"[273, 95, 159, 239, 2485]",2020-12-21T00:00:00Z,3251
65,1540979366,4.415,"[175, 58, 107, 151, 1626]",US,"[175, 58, 107, 151, 1626]",2020-12-20T00:00:00Z,2117
66,1540979366,4.399,"[116, 36, 71, 104, 1035]",US,"[116, 36, 71, 104, 1035]",2020-12-18T00:00:00Z,1362
67,1540979366,4.434,"[50, 19, 41, 53, 530]",US,"[49, 19, 37, 49, 508]",2020-12-16T00:00:00Z,693
68,1540979366,4.508,"[20, 12, 17, 30, 287]",US,"[20, 12, 17, 30, 287]",2020-12-15T00:00:00Z,366
69,1540979366,4.545,"[16, 10, 15, 26, 263]",US,"[16, 10, 15, 26, 263]",2020-12-14T00:00:00Z,330
70,1540979366,4.525,"[14, 7, 9, 21, 193]",US,"[14, 7, 9, 21, 193]",2020-12-13T00:00:00Z,244
71,1540979366,4.551,"[13, 6, 6, 20, 182]",US,"[13, 6, 6, 20, 182]",2020-12-12T00:00:00Z,227
72,1540979366,4.543,"[13, 5, 4, 20, 166]",US,"[13, 5, 4, 20, 166]",2020-12-11T00:00:00Z,208
73,1540979366,4.581,"[11, 4, 3, 18, 155]",US,"[11, 4, 3, 18, 155]",2020-12-10T00:00:00Z,191
74,1540979366,4.572,"[10, 4, 3, 16, 140]",US,"[10, 4, 3, 16, 140]",2020-12-08T00:00:00Z,173
75,1540979366,4.604,"[8, 4, 2, 13, 127]",US,"[8, 4, 2, 13, 127]",2020-12-07T00:00:00Z,154
76,1540979366,4.642,"[6, 4, 1, 11, 115]",US,"[6, 4, 1, 11, 115]",2020-12-06T00:00:00Z,137
77,1540979366,4.691,"[5, 2, 1, 10, 105]",US,"[5, 2, 1, 10, 105]",2020-12-05T00:00:00Z,123
78,1540979366,4.688,"[4, 2, 1, 10, 92]",US,"[4, 2, 1, 10, 92]",2020-12-04T00:00:00Z,109
79,1540979366,4.770,"[2, 2, 0, 6, 77]",US,"[2, 2, 0, 6, 77]",2020-12-03T00:00:00Z,87
80,1540979366,4.733,"[2, 2, 0, 6, 65]",US,"[2, 2, 0, 6, 65]",2020-12-02T00:00:00Z,75
81,1540979366,4.786,"[1, 1, 0, 5, 49]",US,"[1, 1, 0, 5, 49]",2020-11-30T00:00:00Z,56
82,1540979366,4.781,"[0, 1, 0, 4, 27]",US,"[0, 1, 0, 4, 27]",2020-11-29T00:00:00Z,32
83,1540979366,4.600,"[0, 1, 0, 3, 11]",US,"[0, 1, 0, 3, 11]",2020-11-27T00:00:00Z,15
84,1540979366,4.143,"[0, 1, 0, 3, 3]",US,"[0, 1, 0, 3, 3]",2020-11-26T00:00:00Z,7
85,1540979366,4.143,"[0, 1, 0, 3, 3]",US,"[0, 1, 0, 3, 3]",2020-11-25T00:00:00Z,7

In [98]:
test_ss = requests_Store_Summary('ios', '6014','US','daily','2021-02-8','2021-02-14')
test_ss

200

          ar       au    ca  cc                     d          ir       iu
0  570180771  1381311  6014  US  2021-02-08T00:00:00Z  1623085966  5145925
1  586174127  1406171  6014  US  2021-02-09T00:00:00Z  1741953621  5012830
2  633132247  1442601  6014  US  2021-02-10T00:00:00Z  1884967647  5121105
3  605893354  1479991  6014  US  2021-02-11T00:00:00Z  1926428128  5317180
4  762626495  2077744  6014  US  2021-02-12T00:00:00Z  2355910754  5745652
5  717461364  1957440  6014  US  2021-02-13T00:00:00Z  2007642594  6388467
6  732453326  1887731  6014  US  2021-02-14T00:00:00Z  1948838541  6326956

In [100]:
test_GB = requests_Games_Breakdown('ios', '6014','US','daily','2021-02-8','2021-02-14')
test_GB

200

          ar       au    ca  cc                     d          ir       iu
0  570180771  1381311  6014  US  2021-02-08T00:00:00Z  1623085966  5145925
1  586174127  1406171  6014  US  2021-02-09T00:00:00Z  1741953621  5012830
2  633132247  1442601  6014  US  2021-02-10T00:00:00Z  1884967647  5121105
3  605893354  1479991  6014  US  2021-02-11T00:00:00Z  1926428128  5317180
4  762626495  2077744  6014  US  2021-02-12T00:00:00Z  2355910754  5745652
5  717461364  1957440  6014  US  2021-02-13T00:00:00Z  2007642594  6388467
6  732453326  1887731  6014  US  2021-02-14T00:00:00Z  1948838541  6326956